In [3]:
myList = [1,2,3,4,5,6,7,6]

In [9]:
myString = 'Hello World'

In [11]:
len(myString)

11

In [15]:
myList[5:8]

[6, 7, 6]

In [16]:
sorted(myList)

[1, 2, 3, 4, 5, 6, 6, 7]

In [18]:
myList.sort()

In [19]:
myList

[1, 2, 3, 4, 5, 6, 6, 7]

In [20]:
def multiply(x,y):
    return x*y

In [21]:
multiply(5,4)

20

In [27]:
def centuryfromyear(year):
    century = (year/100)+1
    return int(century)

In [31]:
centuryfromyear(2100)

22