In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}

page = "https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop"
pageTree = requests.get(page, headers=headers)
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

In [8]:
Players = pageSoup.find_all('a',{'class':'spielprofil_tooltip'})

In [24]:
Players[0].text

'Kylian Mbappé'

In [25]:
Values = pageSoup.find_all('td',{'class':'rechts hauptlink'})

In [27]:
Values[9].text

'€180.00m\xa0'

In [28]:
def playerValue(rank):
    player = Players[rank].text
    value  = Values[rank].text
    
    return player + " is valued at "+ value

In [30]:
PlayersList = []
ValuesList = []

for i in range(0,25):
    PlayersList.append(Players[i].text)
    ValuesList.append(Values[i].text)

In [32]:
df = pd.DataFrame({'Players':PlayersList,'Values':ValuesList})

In [33]:
df

                   Players     Values
0            Kylian Mbappé  €180.00m
1          Raheem Sterling  €128.00m
2                   Neymar  €128.00m
3               Sadio Mané  €120.00m
4            Mohamed Salah  €120.00m
5               Harry Kane  €120.00m
6          Kevin De Bruyne  €120.00m
7             Jadon Sancho  €117.00m
8             Lionel Messi  €112.00m
9   Trent Alexander-Arnold  €110.00m
10       Antoine Griezmann   €96.00m
11            Serge Gnabry   €90.00m
12          Joshua Kimmich   €85.00m
13           Romelu Lukaku   €85.00m
14              João Félix   €81.00m
15             Kai Havertz   €81.00m
16         Alphonso Davies   €80.00m
17          Erling Haaland   €80.00m
18         Marcus Rashford   €80.00m
19          Bernardo Silva   €80.00m
20            N'Golo Kanté   €80.00m
21            Paulo Dybala   €80.00m
22         Virgil van Dijk   €80.00m
23              Paul Pogba   €80.00m
24               Jan Oblak   €80.00m